.box-portfolio {
	width: 60%;
	margin-top: 84px;

	.box-text {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		h2 {
		font-size: 3rem;
  		font-weight: 700;
  		text-transform: uppercase;
		}
	}

	.box-card {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-between;

		.card {
			width: 30%;
			margin-bottom: 30px;
			box-shadow: 0 1px 1px 0 rgba(0,0,0,.06),0 2px 5px 0 rgba(0,0,0,.2);

			img {
				height: 300px;
				width: 100%;
			}

			.text {
				margin-top: 20px;
				padding: 10px;

				p {
					margin: 10px 0 0 0;
					padding: 0;
					line-height: 16px;
				}

				.text-into {
					display: flex;
					justify-content: space-between;

					* {
						margin: 0;
						padding: 0;
					}

					.icon-gh {
						img {
							width: 40px;
							height: 40px;
						}
						
						border-radius: 50%;
						display: block;
						position: relative;
					}

					.stack {
						color: #0078ff;
						display: flex;
						margin-top: 10px;
						font-size: 12px;
		
						span{
							margin-right: 10px;
						}
					}
				}
			}
		}
	}
}