.container-info {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.container-contact {
	width: 100%;
	margin: 0;
	background: url('./img/earth.jpg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-position: 50%;
	position: relative;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	

	.container-contact-into {
		background-color: #0078ff;
		position: absolute;
		top: 0;
		left: 0;
		padding: 0;
		height: 100%;
		width: 100%;
		opacity: .7;
	}
}

.container-about {
	width: 60%;
}